.serviciosmain__section1 {
    grid-area: smsection1;
    .serviciosmain__section1__img {
            width: 100%;
        }
}



.serviciosmain__section2 {
    padding: 4em;
    background-color: map-get($mapa-colores, lila);
    grid-area: smsection2;
    .serviciosmain__section2__1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .serviciosmain__section2__t {
                    padding: 1em;
                    width: 100%;
                    text-align: center;
                }
        }
                .serviciosmain__section2__div {
                    padding: 1em;
                    background-color: rgba(34, 34, 59, 0.459);
                    color: rgb(242, 233, 228);
                    margin: auto;
                    padding: auto;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .serviciosmain__section2__img {
                            width: 20vh;
                            height: 10vh;
                            margin: auto;
                            padding: auto;
                        }
                    .card-title {
                            margin: auto;
                            padding: 1em;
                        }
                }

}




.serviciosmain__section2__2 {
    background-color: map-get($mapa-colores, lila);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}







.serviciosfooter__ul {
    width: 100%;
    color: rgb(242, 233, 228);
    text-align: end;
}